<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>

    <!-- DO NOT CHANGE -->
    <section name="DEFAULT" type="System.Configuration.NameValueSectionHandler" />
    <!-- END OF -->

    <!-- ADD MACHINES FOR CUSTOMISATION -->
    <section name="LINX169" type="System.Configuration.NameValueSectionHandler" />
    <section name="LINX2444" type="System.Configuration.NameValueSectionHandler" />
    <section name="LINX2680" type="System.Configuration.NameValueSectionHandler" />

    <!-- END OF -->
  </configSections>

  <!-- DO NOT CHANGE -->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <!-- END OF -->

  <!-- DEFAULTS FOR ALL MACHINES -->
  <DEFAULT>
    <add key="sqlconnection" value="connect_lnxdwprod" />
    <add key="sqlconnection2" value="connect_pcs2" />

    <add key="editpassword" value="123456" />
  </DEFAULT>
  <!-- END OF DEFAULTS -->

  <!-- FOLLOWING SETTINGS BELOW WILL OVERRIDE DEFAULT SETTINGS ABOVE -->

  
  <!-- DEVELOPMENT DESKTOP LINX HOUSE -->

  <LINX2444>
    <add key="sqlconnection" value="connect_lnxdwprod" />
  </LINX2444>

  <LINX2680>
    <add key="sqlconnection" value="connect_lnxdwprod" />
    <add key="sqlconnection2" value="connect_lnxdw2" />

  </LINX2680>

  <!--- FOLLOWING SETTINGS FOR SQL ACCESS -->
  <appSettings>
    <!-- SQL SERVER DB NAME DO NOT CHANGE -->
    <add key="linxdbname" value="linxmaster" />
    <add key="linxdbname2" value="pcs2" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <!-- SQL Server User Id and Password is appended automatically on connectionstring if connection not trusted -->
    <!-- User is set up in SQL Server -->
    <!--  p7i0iqAprAt$ />  -->

    <add key="SQLServerUserID" value="oracle_lm" />
    <!--  p7i0iqAprAt$ />  -->
    <!--  <add key="SQLServerPassword" value="u7P+ydTxaQBAykHio31Q5C9d3RWyn0x3qkm/CzhpMzs=" /> -->

    <add key="SQLServerPassword" value="zKkv2zHbagKtc92hMsPhKOY2uGt4CPc/" />

    <!-- END OF SQL ACCESS -->

    <!-- SQL SERVER CONFIGURATION for machines DO NOT CHANGE -->
  </appSettings>

  <connectionStrings>

    <add name="connect_production" connectionString="Provider=SQLOLEDB;Server=LINX2426\SQLPRODINK;Database=linxmaster;" />
    <add name="connect_lnxdwprod" connectionString="Provider=SQLOLEDB;Server=LNXDWPROD\SQLPROD;Database=linxmaster;" />
    <add name="connect_pcs2" connectionString="Provider=SQLOLEDB;Server=LNXDWPROD\SQLPROD;Database=PCS2;" />
    <add name="connect_lnxdw2" connectionString="Provider=SQLOLEDB;Server=LNXDW2\SQLPROD;Database=PCS2;" />
  </connectionStrings>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>